@charset "utf-8";

@font-face {
  font-family: barlow;
  src: url(/asset/font/BarlowCondensed-Thin.ttf);
}

* {
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

:root {
  --crem: #f2c46d;
  --dark: #2e2e2e;
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #2e2e2e; */
  height: 5000px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: space-between;
  margin: auto;
  position: fixed;
  padding: 1rem 7%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  transition: all 0.3s ease;
}

nav.scrollink-active {
  background-color: #f2c46d;
  padding: 0.5rem 7%;
}

.navbar .logo a img {
  width: 6rem;
  float: left;
}

.navbar .navbar-nav a {
  padding: 1rem 0;
  float: left;
  font-size: 1.1rem;
  color: rgb(238, 238, 238);
  font-weight: 100;
  vertical-align: middle;
  margin: 0 1.7rem;
  font-family: barlow;
}

.hero {
  min-height: 167vh;
  display: flex;
  align-items: center;
  background-image: url(../../Image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: -webkit-sticky;
  justify-content: center;
}

h1 {
  font-size: 4.5rem;
  font-weight: 100;
  color: #ffffff;
  /* margin-top: -2rem; */
}

.hero .content .btn {
  margin-top: 30rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: var(--crem);
  text-align: center;
  margin-left: 16rem;
}

.hero .content .btn:hover {
  background-color: #f0c980;
}

.menu {
  justify-content: center;
  align-items: center;
}

.menu #title {
  color: var(--dark);
  font-size: 3rem;
  text-align: center;
  padding: 5.5rem;
}

.menu p {
  text-align: center;
  margin-top: -6rem;
  font-size: 1.1rem;
  font-weight: 100;
  color: var(--dark);
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.page-content {
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.page-content .card {
  width: 15rem;
  height: 30rem;
  background: radial-gradient(#111 50%, #000 100%);
  overflow: hidden;
  position: relative;
  margin: 0 5px;
}

.page-content .card img {
  max-width: 140%;
  transform: scale(1.3);
  transition: all 0.3s ease-out;
  opacity: 0.6;
}

.page-content .card:hover img {
  transform: scale(1.1) translateY(-20px);
  opacity: 0.9;
}

.description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: #ffff;
}

.description h2 {
  font-weight: 100;
  font-size: 1.5rem;
  /* line-height: 10; */
  transform: translateY(30px);
  transition: all 0.3s ease-out;
  line-height: 15;
}

.description a {
  color: #ffff;
  display: inline-block;
  background-color: #0d0d0d;
  padding: 10px 25px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s ease-out 0.2s;
}

.description a:hover {
  background-color: #151515b8;
  transition: all 0.3s ease-out;
}

.card:hover .description h2 {
  transform: translateY(0);
}

.card:hover .description a {
  opacity: 1;
  transform: translateY(0);
}

.menu .end-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  max-width: 100%;
}

.end-content h1 {
  color: var(--dark);
  text-align: center;
  font-weight: 400;
  font-size: 2.8rem;
}

.end-content p {
  padding: 5rem;
  color: var(--dark);
}

.end-content a {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: var(--crem);
  color: #ffffff;
  margin-top: -5rem;
  font-size: 1rem;
}

.moods {
  max-width: 100%;
  min-height: 10%;
  margin-top: 5rem;
  background-color: #f2f2f2;
  text-align: center;
}

.moods h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 100;
  padding: 6rem 0;
  color: var(--dark);
}

.content-mood {
  display: inline-block;
  align-items: center;
  margin: 0 4rem;
  text-align: center;
}

.content-mood img {
  width: 5rem;
}

.content-mood h3 {
  vertical-align: middle;
  max-width: 100%;
  /* line-height: 20; */
  color: var(--dark);
  text-align: center;
}
